@tailwind base;
@tailwind components;
@tailwind utilities;


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    /* z-index: 1; */
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    display: block;
  }
  
  
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {
    display: block;
  }
